@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<TinderMVC.Models.ViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div style="margin-top:20%"></div>
    <table>
        <tr>
            <td>Your Match</td>
            <td>Send Message</td>
        </tr>
        <tr style="margin-top:15%;">
            <td>@item.LikedPersonName</td>
            <td><a class="btn btn-light" href="/Home/Chat/@item.LikedPersonId">Send Message</a></td>
        </tr>
    </table>
}

